<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Catalog</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="row justify-content-md-center" style="margin-bottom:2em; margin-top: 2em">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="input-group flex-nowrap">
                    <!-- <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                    </div> -->
                    <input type="text" class="form-control" id="catalog_input" onkeyup="searchCatalog()" placeholder="Search for books..." aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    <div class="row justify-content-md-center">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <table class="table table-hover" id="catalog_view"">
                <thead>
                    <tr>
                        <th scope="col">ISBN</th>
                        <th scope="col">Title</th>
                        <th scope="col">Author</th>
                        <th scope="col">Publisher</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <form action="/request" method="get">
                    <tr class="clickable-row" data-toggle="modal" data-target=".bd-{{book.isbn}}-modal-lg">
                        <th scope="row">{{book.isbn}}</th>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.publisher}}</td>
                        <td><img src="{{book.image}}" class="img-thumbnail img-fluid" style="max-width: 50px; max-height: 50px;"></td>
                        <input type="hidden" name="owner" value="{{book.owner}}">
                        <input type="hidden" name="isbn" value="{{book.isbn}}">
                        <td><button type="submit" class="btn btn-outline-dark">Request</button></td>
                    </tr>
                    </form>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>

    {% for book in books %}
    <div class="modal fade bd-{{book.isbn}}-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="media">
                    <img src="{{book.image}}" class="mr-3" style="max-width: 4em">
                    <div class="media-body">
                    <h5 class="mt-0 card-title">{{book.title}}</h5>
                    
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-2 col-sm"></div>
                    <div class="col-md-8 col-sm"> 
                    <table class="table table-sm">
                    <tbody>
                        <tr>
                        <td>ISBN</td>
                        <td>{{book.isbn}}</td>
                        </tr>
                        <tr>
                        <td>Author</td>
                        <td>{{book.author}}</td>
                        </tr>
                        <tr>
                        <td>Publisher</td>
                        <td>{{book.publisher}}</td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                    <div class="col-md-2 col-sm"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Request</button>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <script>
        function searchCatalog() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("catalog_input");
            filter = input.value.toUpperCase();
            table = document.getElementById("catalog_view");
            tr = table.getElementsByTagName("tr");
        
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }
            }
        }
    </script>

    {% endblock %}
  </body>
</html>