<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Catalog</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="row justify-content-md-center" style="margin-bottom:20px; margin-top: 20px">
            <div class="col col-lg-6">
                <div class="input-group flex-nowrap">
                    <!-- <div class="input-group-prepend">
                        <span class="input-group-text" id="addon-wrapping">@</span>
                    </div> -->
                    <input type="text" class="form-control" id="catalog_input" onkeyup="searchCatalog()" placeholder="Search for books..." aria-label="Username" aria-describedby="addon-wrapping">
                </div>
            </div>
        </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <table class="table table-hover" id="catalog_view"">
                <thead>
                    <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <th scope="row">{{book.isbn}}</th>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.publisher}}</td>
                        <td><img src="{{book.image}}" class="img-thumbnail img-fluid" style="max-width: 50px; max-height: 50px;"></td>
                    </tr>
                    {% endfor %}  
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function searchCatalog() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("catalog_input");
            filter = input.value.toUpperCase();
            table = document.getElementById("catalog_view");
            tr = table.getElementsByTagName("tr");
        
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                } else {
                tr[i].style.display = "none";
                }
            }
            }
        }
        </script>
    
    {% endblock %}
  </body>
</html>